body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
}
.navbar
{
    background-color: #2874f0;
    height: 56px;
    display: flex;
    flex-direction: row;

}
span {
    font-size: 11px;
    font-style: italic;
    margin-top: -1px;
    
}
.navimg{
    margin-left: 200px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.schbar{
    width: 525px;
    height: 35px;
    padding: 10px;
}
.bttn{
    height: 42px;
    width: 30px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    color: blue;
}

.searchbar{
    margin-top: 8px;
    margin-left: 8px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    width: 584px;
    padding: 2px;

}
.Login
{
    margin-left: 80px;
    padding-top: 15px;
    cursor: pointer;
}
.More{
    color: white;
    font-size: 17px;
    margin-left: 50px;
    cursor: pointer;
}


.Cart{
    color: white;
    margin-left: 10px;
    cursor: pointer;
}
.cartimg
{
    margin-top: 20px;
    margin-left: 80px;
    color: white;
    cursor: pointer;
}

.product-list{
    display: flex;
    flex-direction: row;
}

.p1{
    padding-left: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 29px;
}

h4:hover {
    color: #2455f4;
  }

.upper{
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.product-list-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 15%;
    flex-grow: initial;
    cursor: pointer;
  }

  .text-Main {
    margin: 4px;
  }

  .text-Price {
    color: #388e3c;
    margin: 4px;
  }

  .secondary-element {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Top-Offer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 20px;
    margin-top: 6px;
}
  

  .text-Size{
      color: palevioletred;
      margin: 4px;
  }

  .deals{
      display: flex;
      flex-direction: row;
      gap: 1000px;
  }

  .h1{
      margin: 0px;
      padding-left: 30px;
  }

  .Button{
    padding: 9px 20px 9px 20px;
    background-color: blue;
    color: white;
  }

.text-offer{
    color: #388e3c;
    font-size: 18px;
}

.text-discription{
    color: pink;
}

.primary-element{
    margin-top: 10px;
}

.foot{
    display: flex;
    flex-direction: row;
    gap: 1000px;

}

 .secondary-element-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }

  .text-offer-1{
    color: #388e3c;
    font-size: 18px;
    
}

.text-discription-1{
    color: pink;
}

.primary-element-1{
    margin-top: 10px;
}

.Electronis{
    display: flex;
    flex-direction: row;
    gap: 1000px;

}

.Top-Offer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 20px;
    margin-top: 6px;
}

.secondary-element-2{
    margin-top: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

  .text-offer-2{
    color: #388e3c;
    font-size: 18px;
}

.text-discription-2{
    color: pink;
}

.primary-element-2{
    margin-top: 10px;
}

.product-list-2{
    margin-top: auto;
    cursor: pointer;
}
